<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.sensorcloud.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unbenannt"
        android:label="@string/app_name" >
       
        <activity
            android:name="de.sensorcloud.android.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.AuswahlseiteActivity"
            android:label="@string/title_activity_auswahlseite" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.NutzerStammdatenActivity"
            android:label="@string/title_activity_nutzerStammdaten" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.TelefonActivity"
            android:label="@string/title_activity_telefon" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.EmailActivity"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.AdresseActivity"
            android:label="@string/title_activity_adresse" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.StammdatenActivity"
            android:label="@string/title_activity_stammdaten" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.SicherheitActivity"
            android:label="@string/title_activity_sicherheit" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.SensorVerbundActivity"
            android:label="@string/title_activity_sensorverbund" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.AktorVerbundActivity"
            android:label="@string/title_activity_aktorverbund" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.EventRegelActivity"
            android:label="@string/title_activity_event_regel" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.ChartActivity"
            android:label="@string/title_activity_chart"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.GruppenAnzeigenActivity"
            android:label="@string/title_activity_gruppen" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.GruppeErstellenActivity"
            android:label="@string/title_activity_gruppe_erstellen" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.GruppenMitEinladenActivity"
            android:label="@string/title_activity_gruppen_mit_einladen" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.RegistrierenActivity"
            android:label="@string/title_activity_nutzer_anlegen" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.AktorVerbundAnlegenActivity"
            android:label="@string/title_activity_aktor_verbund_anlegen" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.SensorVerbundAnlegenActivity"
            android:label="@string/title_activity_sensor_verbund_anlegen" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.ServiceLinieSenAnlegenActivity"
            android:label="@string/title_activity_service_linie" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.ServiceLinienAnzeigenActivity"
            android:label="@string/title_activity_service_linien_anzeigen" >
        </activity>
        <activity
            android:name="de.sensorcloud.android.activity.ServiceLinienAktAnlegenActivity"
            android:label="@string/title_activity_service_linien_akt_anlegen" >
        </activity>
    </application>

</manifest>
